/* APP */
.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion : no-preference) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-image: url('./images/background_login.png');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  padding: 0;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier, monospace;
}

/* PÁGINA DE LOGIN */

/* link das bordas https://css-tricks.com/how-to-create-neon-text-with-css/ */
.neon-border-purple {
  border: 0.2rem solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem white, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  padding: 1em;
}

.neon-border-red {
  border: 0.2rem solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem white, 0 0 2.8rem red, inset 0 0 1.3rem red;
  padding: 1em;
}

.neon-border-blue {
  border: 0.2rem solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem white, 0 0 2.8rem deepskyblue, inset 0 0 1.3rem deepskyblue;
  padding: 0.4em;
}


.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;

}

.inputNeon-purple {
  background-color: black;
  border: 0.2rem solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem white, 0 0 2rem #bc13fe, inset 0 0 1rem #bc13fe;
  color: rgb(179, 205, 255);
  font-weight: 800;
  margin: 0.3rem;
  padding: 0.4em;
  width: 100%;
}

.inputNeon-blue {
  background-color: black;
  border: 0.2rem solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem white, 0 0 2rem deepskyblue, inset 0 0 1rem deepskyblue;
  color: rgb(179, 205, 255);
  font-weight: 800;
  margin: 1rem;
  padding: 0.4em;
  width: 100%;
}

.btn-neon-red {
  background-color: black;
  border: 0.2rem solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem white, 0 0 2rem red, inset 0 0 1rem red;
  color: rgb(255, 161, 208);
  font-weight: 800;
  margin: 1rem;
  padding: 0.4em;
  width: 85%;
}

.btn-neon-red:disabled {
  opacity: 30%;
}

.inputName,
.inputEmail {
  align-items: center;
  display: flex;
}

.div-btn-settings {
  align-items: center;
  display: flex;
  justify-content: center;
}

.div-btn-settings h4 {
  color: white;
  font-size: 12px;
  margin: 0;
  text-decoration: none;
}

.div-btn-settings h4:visited {
  text-decoration: none;
}

.btn-img-settings {
  margin: 0;
  max-height: 50px;
  max-width: 50px;
  padding: 0;
}

/* HEADER */
.header-body {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.header-body img {
  border-radius: 50px;
}

.header-player-name {
  background: linear-gradient(30deg, indigo 0%, darkviolet 50%, dodgerblue 100%);
  background-clip: text;
  font-size: xx-large;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
}

.ingame-score {
  color: rgb(230, 32, 32);
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}

.name-score {
  color: white;
}

/* PÁGINA GAME */
body {
  background: linear-gradient(30deg, #873034 0%, #0a0026 50%, #30617e 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  width: 100vw;
}

.loading-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}


.loadind-div {
  margin-bottom: 30px;
  width: 70%;
}

.loading-questions {
  color: white;
}

.game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  width: 100vw;
}

.question-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.option-container {
  display: grid;
  grid-row: 5;
  grid-template-areas: 'a'
    'b'
    'c'
    'd';
  grid-template-columns: 1fr;
}

.neon-border-question {
  align-items: center;
  border: 0.2rem solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0.2rem white, 0 0 2.8rem deepskyblue, inset 0 0 1.3rem deepskyblue;
  display: flex;
  margin-right: 30px;
  min-height: 30vw;
  padding: 0.4em;
  width: 65%;
}

.question-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: max-content;
}

.quot-1 {
  align-self: flex-start;
  height: 60px;
}

.quot-2 {
  align-self: flex-end;
  height: 60px;
}

.questions-cat {
  color: aliceblue;
  font-size: 15px;
  font-weight: 400;
}

.questions-text {
  align-self: flex-start;
  color: white;
  display: flex;
  font-size: 25px;
}

.timer-text {
  color: white;
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 30px;
  margin-top: 0;
}

.timer-span-text {
  color: rgb(169, 255, 188);
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 30px;
  margin-top: 0;
}

.question-panel {
  align-items: initial;
  color: white;
  font-weight: 600;
}


.neonText {
  animation: flicker 1.5s infinite alternate;
  text-shadow: 0 0 7px white, 0 0 10px white, 0 0 102px #0fa, 0 0 151px #0fa;
}

/* Flickering animation */

@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px white, 0 0 11px white, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* feedback */
.feedback-page {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: auto;
  margin-top: auto;
  min-height: 500px;
}

.score-div-container {
  display: flex;
  flex-direction: column;
}

.feedback-points {
  font-size: 30px;
}

.ingame-score-number {
  color: black;
  font-size: 40px;
  font-weight: 800;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.final-score {
  color: black;
  font-size: 60px;
  font-weight: 800;
  margin: 0;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.border-header {
  display: flex;
  height: 50px;
  justify-content: center;
  max-width: 100%;
}


.div-play-again {
  align-items: center;
  display: flex;
  justify-content: center;
}

.back-img {
  width: 50px;
}

.play-again {
  width: 200px;
}


.ranking-img {
  width: 50px;
}

.btn-neon-blue {
  background-color: black;
  border: 0.2rem solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem white , 0 0 2rem deepskyblue , inset 0 0 1rem deepskyblue;
  color: rgb(161, 228, 255);
  font-weight: 800;
  margin: 1rem;
  padding: 0.4em;
  width: 85%;
}

.div-btn-ranking {
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-ranking {
  width: 200px;
}

/* ranking */
.page-ranking {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  width: 80%;
}

.div-users-ranking {
  width: 100%;
}

.header-ranking {
  align-items: center;
  display: flex;
  margin: 20px;
}

.ranking-img-trophy {
  width: 80px;
}

.title-ranking {
  color: white;
  font-size: xx-large;
  margin: 10px;
}

.user-rank-data {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.user-rank-data img {
  border-radius: 50px;
}

.ranking-number {
  background: linear-gradient(30deg, indigo 0%, darkviolet 50%, dodgerblue 100%);
  background-clip: text;
  font-size: xxx-large;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
}

.ranking-player-name {
  background: linear-gradient(30deg, indigo 0%, darkviolet 50%, dodgerblue 100%);
  background-clip: text;
  font-size: xx-large;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
}

.ranking-score {
  color: black;
  font-size: 40px;
  font-weight: 800;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}


.ranking-back-home {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.back-img-home {
  width: 50px;
}

.back-home {
  width: 200px;
}

/* configurações */
.header-setup {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.setup-img-gear {
  width: 80px;
}

.title-setup {
  color: white;
  font-size: xx-large;
  margin: 10px;
}

.setup-back-home {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.setup-back-home2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.setup-btn {
  margin: 0;
  width: 150px;
}

.btn-neon-green {
  background-color: black;
  border: 0.2rem solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem white , 0 0 2rem greenyellow , inset 0 0 1rem greenyellow;
  color: rgb(191, 255, 161);
  font-weight: 800;
  margin: 1rem;
  padding: 0.4em;
}

.options-setup-container {
  color: white;
  display: flex;
  flex-direction: column;
}

.loading-animation {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loading-circle.display {
  visibility: visible;
}

.loading-circle {
  animation: spin 0.5s infinite linear;
  border: 5px solid #fc88cf;
  border-radius: 100%;
  border-top: 6px solid #9c41f2;
  box-shadow: 0 0 0.1rem white , 0 0 2rem deeppink , inset 0 0 1rem deeppink;
  height: 2rem;
  // margin-right: 270px;
  // margin-top: 250px;
  // position: absolute;
  width: 2rem;
}

.loading {
  border-radius: 100%;
  color: #fc88cf;
  font-size: 20px;
  font-weight: 900;
  height: 2rem;
  // margin-right: 20px;
  // margin-top: 260px;
  // position: absolute;
  text-decoration: solid;
  width: 15rem;
}

@keyframes spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.about-description {
  color: antiquewhite;
}

.sound-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.div-btn-about {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* about */
.about {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.btn-about {
  margin: 0;
  width: 150px;
}

.btn-about-img {
  margin: 0;
  max-height: 50px;
  max-width: 50px;
  padding: 0;
}

.header-about {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.about-img {
  width: 80px;
}

.title-about {
  color: white;
  font-size: xx-large;
  margin: 10px;
}

.name-group {
  background: linear-gradient(30deg, brown 0%, mediumvioletred 50%, dodgerblue 100%);
  background-clip: text;
  font-size: xx-large;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
}

.about-name {
  background: linear-gradient(30deg, brown 0%, mediumvioletred 50%, dodgerblue 100%);
  background-clip: text;
  flex-direction: column;
  font-size: x-large;
  font-weight: 600;
  margin: 20px;
  -webkit-text-fill-color: transparent;
}

.about h3 {
  color: white;
}

.group-names {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.arrow {
  width: 150px;
}

.about-back-home {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.setup-btn-neon-red {
  background-color: black;
  border: 0.2rem solid white;
  border-radius: 1rem;
  box-shadow: 0 0 0.1rem white , 0 0 2rem red , inset 0 0 1rem red;
  color: rgb(255, 161, 208);
  font-weight: 800;
  margin: 1rem;
  padding: 0.4em;
  width: 200px;
}

// MOBILE
//ABOUT

@media screen and ( max-width : 700px ) {

  //ABOUT
  .header-about {
    flex-direction: column;
  }

  .group-names {
    flex-direction: column;

    img {
      max-width: 30%;
    }


    h4 {
      width: 50%;
    }

  }

  //SETTINGS
  .options-setup-container {

    label {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 15px;
    }
  }

  .setup-back-home {
    margin-bottom: 30px;
  }

  .setup-back-home2 {
    margin-bottom: 0;
  }

  //GAME
  .question-container {
    flex-direction: column;

    .neon-border-question {
      margin: 0;
      max-width: 90%;
      min-width: 90%;

      img {
        height: 20px;
      }
    }

    .option-container {
      margin-bottom: 20px;
      margin-top: 20px;

    }

    .btn-next {
      margin-bottom: 50px;
    }
  }

  //FEEDBACK
  .feedback-page {
    min-height: auto;
  }

  //RANKING
  .user-rank-data {

    .ranking-number {
      font-size: xx-large;
    }

    img {
      max-width: 50px;
    }

    .ranking-player-name {
      font-size: x-large;
    }

    .ranking-score {
      font-size: xx-large;
    }
  }
}
